<% provide(:title, 'About Us') %>
<h1>About Us</h1>
	<p>
		The <a href="http://www.yahoo.com/">search engine war</a>
		is a project to make <a href="http://www.duckduckgo.com/">DuckDuckGo</a>
		a valid option. The image search aspect lacks, IMHO.
	</p>