<% provide(:title, 'Help') %>
<h1>Help</h1>
	<p>
		Get help before you need it.
		<a href="http://www.bing.com/">Other thing</a>
		to actually search for things go to <a href="http://www.duckduckgo.com/">padaaa!</a>
	</p>
